<footer class="py-3 bg-white border-top">
    <div class="container d-flex justify-content-between">
        <div>
            <strong>Tesya Indriani</strong> • Make Up Artist<br>
            <span class="text-muted small">© <span id="year"></span> Semua hak cipta.</span>
        </div>
        <div class="text-muted small">
            Made with ❤️ • <a href="https://instagram.com/tesyamakeup_new" target="_blank">@tesyamakeup_new</a>
        </div>
    </div>
</footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>